{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %}
   Profile
{% endblock %}

{% block javascript %}
    <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header" style="margin-top: 0">
    <h1>Profile</h1>
</div>
<div class="row">
    <div class="col-sm-3">
        {% include 'accounts/partial/part_settings_menu.html' with active='password' %}
    </div>
    <div class="col-sm-9">

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form">
        {%csrf_token%}

        {% include 'accounts/partial/partial_form_fields.html' %}

        <div class="form-group" style="margin-top: 20px">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Ok
          </button>
          <a href="{% url 'account:home' %}" class="btn btn-default">Cancel</a>
        </div>

      </form>

    </div>
</div>
{% endblock %}