{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
   Profile
{% endblock %}

{% block content %}
<div class="page-header" style="margin-top: 0">
    <h1>Profile</h1>
</div>
<div class="row">
    <div class="col-sm-3">
        {% include 'accounts/partial/part_settings_menu.html' with active='profile' %}
    </div>
    <div class="col-sm-9">

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form">
        {%csrf_token%}

        {% for field in user_form %}

          <div class="form-group">

            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
              {{ error }}
                </div>
            {% endfor %}

            <label for="{{field.id_for_label}}">{{ field.label }}:</label>
            {{ field|add_class:'form-control' }}
            <!--вывод подсказок
            {% if field.help_text %}
                 <span class="help-block">{{ field.help_text|safe }}</span>
            {% endif %}
            -->{% if field.help_text %}

          </div>{% endif %}
        {% endfor %}

        {% for field in profile_form %}

          <div class="form-group">

            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
              {{ error }}
                </div>
            {% endfor %}

            <label for="{{field.id_for_label}}">{{ field.label }}:</label>
            {{ field|add_class:'form-control' }}
            <!--вывод подсказок
            {% if field.help_text %}
                 <span class="help-block">{{ field.help_text|safe }}</span>
            {% endif %}
            -->{% if field.help_text %}

          </div>{% endif %}
        {% endfor %}

        <div class="form-group" style="margin-top: 20px">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Ok
          </button>
          <a href="{% url 'account:home' %}" class="btn btn-default">Cancel</a>
        </div>

      </form>
    </div>
</div>
{% endblock %}