{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <div class="row">
    <div class="col-md-12 ">

      <form class="form" method="post">
        <h1>Enter new password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        {%csrf_token%}

        {% include 'accounts/partial/partial_form_fields.html' %}

        <div class="form-group">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span> Change my password
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
