{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <div class="row">
    <div class="col-md-12 ">

      <form class="form" method="post">
        <h1>Password reset</h1>
        <p>Forgotten your password? Enter email below</p>

        {%csrf_token%}

        {% include 'accounts/partial/partial_form_fields.html' %}

        <div class="form-group">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span> Reset my password
          </button>
          <a href="{% url 'account:home' %}" class="btn btn-default">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
